body{
	background-color: #DD553D;
}

footer{
	margin-top: 2em;
	background-color: #BD351C;
}

footer p.muted{
	text-align: center;
}

select{
	display: block;
	margin: auto;
}


.constant{
	color: white;
	text-align: center;
}

.navbar{
	background-color: #BD351C;
	box-shadow: none;
	border-width: 0;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 100px;
    height: 100px;
    background-color: #971D07;
}

.navMain{
	max-width: 80%;
	max-height: auto;
	margin: 0 auto;
	padding-left: 5em;
}

.navMain:hover{
	opacity: 0.6;
}

.peep{
	display: inline;
}

.span10{
	background-color: white;
}

.typical{
	margin: 0px auto;
	display: block;
}

#babyself{
	content: url("/img/babyself.png");
}

#self{
	content: url("/img/self.png");
	margin: 0 auto;
	width: 100%;
	height: auto;
}