body{
	background-color: #DD553D;
}

footer{
	margin-top: 2em;
	background-color: #BD351C;
}

footer p.muted{
	text-align: center;
}

select{
	display: block;
	margin: auto;
}

h5.typical{
	color: white;
}

.constant{
	color: white;
}

.fa {
	color: white;
}

.fa:hover{
	opacity: 0.6;
}

.jumbotron{
	background-color: #BD351C;	
}

.navbar{
	background-color: #BD351C;
	box-shadow: none;
	border-width: 0;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 100px;
    height: 100px;
    padding-bottom: 0;
}

.navMain{
	max-width: 80%;
	max-height: auto;
	margin: 0 auto;
}

.navMain:hover, .navTop:hover{
	opacity: 0.6;
}

.peep{
	display: inline;
}

.portfolio{
	max-height: 300px;
	max-width: 500px;
}

.portfolioHover{
	background-color: papayawhip;
	opacity: 0.8;
	display: none;
}

.span10{
	background-color: white;
}

.typical{
	margin: 0px auto;
	display: block;
	text-align: center;
}

#babyself{
	max-width: 100%;
	max-height: auto;
}

#main-content{
	display: none;
}

#screencap1{
	content: url("/img/teachr.png");
}

#screencap2{
	content: url("/img/simon.png");
}

#screencap3{
	content: url("/img/weather.png");
}

#self{
	content: url("/img/self.png");
	margin: 0 auto;
	width: 100%;
	height: auto;
	padding-top: 0;
}