body{
	background-color: #DD553D;
}

footer{
	margin-top: 2em;
	background-color: #BD351C;
}

footer p.muted{
	text-align: center;
}

select{
	display: block;
	margin: auto;
}

.constant{
	color: white;
	text-align: center;
}

.peep{
	display: inline;
}

#self{
	/*content: url("/img/self.png");*/
	margin: 0 auto;
	width: 100%;
	height: auto;
}